---
import Layout from "../../layouts/Layout.astro";
import { ReposList } from "@/components/ReposList";
import Pagination from "@/components/Pagination";
import { prismaClient } from "@/lib/prisma";
import type { Project } from "@prisma/client";
import type { Page, PaginateFunction } from "astro";

export const prerender = true;

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const allProjects = await prismaClient.project.findMany({
    orderBy: {
      created_at: "desc",
    },
  });

  return paginate(allProjects, { pageSize: 5 });
}

const { page } = Astro.props as { page: Page<Project> };
const allProjects = await prismaClient.project.findMany({
  orderBy: {
    created_at: "desc",
  },
});
---

<script define:vars={{ allProjects }}></script>
<Layout title="Projetos" description="Meus projetos">
  <main class="p-8 mx-auto w-full max-w-6xl flex flex-col justify-center items-center gap-8 relative">
    <h1 class="text-4xl font-bold">Projetos</h1>
    <ReposList repos={page.data} isPaginated={true} client:load />
    <Pagination page={page} />
  </main>
</Layout>