---
import { prismaClient } from "@/lib/prisma";
import Layout from "../../layouts/Layout.astro";

import type { Page } from "astro";
import type { Project } from "@prisma/client";
import Pagination from "@/components/Pagination";
import ProjectCard from "@/components/ProjectCard";
export const prerender = true;

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const repos = await prismaClient.project.findMany({
    orderBy: { created_at: "desc" },
  });

  return paginate(repos, { pageSize: 5 });
}

const { page } = Astro.props as { page: Page<Project> };
---

<Layout title={`Pagina ${page.currentPage.toString()}`}>
  <main
    class="p-8 max-w-6xl mx-auto w-full flex flex-col flex-1 justify-start items-center gap-8"
  >
    <Pagination page={page} />
    <div class="flex flex-col gap-2 mb-10">
      {page.data.map((user) => <ProjectCard project={user} />)}
    </div>
  </main>
</Layout>
