---
import Layout from "../layouts/Layout.astro";

import { AvatarComponent } from "@/components/Avatar";
import { ReposList } from "@/components/ReposList";
import { Button } from "@/components/ui/button";
import { SocialList } from "@/components/SocialList";
import TopButton from "@/components/TopButton";
import Tools from "@/components/Tools";

import { prismaClient } from "@/lib/prisma";

import { Download } from "lucide-react";

import type { Project } from "@prisma/client";

const projects: Project[] = await prismaClient.project.findMany({
  orderBy: {
    created_at: "desc",
  },
});
---

<Layout title="Arthur Marconcini">
  <main
    class="p-8 mx-auto w-full max-w-6xl flex flex-col justify-center items-center gap-8 relative"
  >
    <AvatarComponent />
    <div class="flex flex-col items-center text-slate-400">
      <h1
        class="mb-8 font-bold type-social text-lg font-noto antialiased text-white"
      >
      </h1>
      <p>
        🎓 Formado em Ciências da Computação pela Faculdade Pitágoras de
        Guarapari em 2022
      </p>
      <p>💼 Desenvolvedor Fullstack Freelancer há 1 ano.</p>
      <p>
        🤝 Estou sempre aberto a fazer novos contatos e colaborar em projetos
        empolgantes.
      </p>
    </div>
    <Tools />
    <div class="flex items-center justify-start gap-4">
      <span class="font-light text-lg">Baixar Curriculum</span>
      <a
        href="https://drive.google.com/file/d/1bPgQLDLuF1Di0KqBEESXZ5ZOBgxm8lxq/view?usp=sharing"
        target="_blank"
        rel="noreferrer"
        class="animate-pulse border border-slate-400 rounded-lg p-2"
      >
        <Button asChild variant="outline"><Download /></Button>
      </a>
    </div>
    <ReposList repos={projects} />
    <SocialList />
    <TopButton client:only="react" />
  </main>
</Layout>
