---
import "@/styles/globals.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const path = Astro.url.pathname;

import { Header } from "@/components/Header";
import { Footer } from "@/components/Footer";
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description ? description : ""} />
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('dark-mode')) {
          return localStorage.getItem('dark-mode');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    <ViewTransitions transition:animate={"slide"} />
  </head>

  <body class="flex flex-col min-h-screen">
    <Header path={path} client:only="react" />
    <slot />
    <Footer />
  </body>
</html>
